.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: lightblue;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.character-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.character-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
}
.yes-button {
  padding: 5px 10px;
  margin-right: 10px;
}
.counter {
  font-size: 1.2rem;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px; /* Adjust based on header */
}

.character-item {
  width: 150px;
  margin: 10px;
  text-align: center;
}

.character-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}